.body{
  background-color: blue;
}
.container {
  padding-top: 180px;
justify-content: center;
text-align: center;
/* border: solid rgb(68, 0, 255); */
  margin: 50px 50px;

/* display: flex; */
}

/* .header {
  border: solid red;
}

.form {
  border: solid red;
}

.footer {
  border: solid red;
} */